{
  "gui" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "/d8spmcce/texture/interface/stance_maker/haut.png",
      "fileBody" : "/d8spmcce/texture/interface/stance_maker/milieu.png", 
      "fileFooter" : "/d8spmcce/texture/interface/stance_maker/bas.png"
    },

    "close" : {
      "type" : "button",
      "base" : "/assetmissing.png",
      "hover" : "/assetmissing.png",
      "pressed" : "/assetmissing.png",
      "pressedOffset" : [0, 0],
      "position" : [1000, 1000]
    },

    "windowtitle" : {
      "type" : "title",
      "title" :    " ",
      "subtitle" : " ",
      "position" : [10, -20],
      "icon" : {
        "type" : "image",
        "file" : "/assetmissing.png",
        "position" : [0, 0],
        "zlevel" : -1
      }
    },

    "tab_default" : {
      "type" : "layout",
      "layoutType" : "basic",
      "visible" : true,

      "rect" : [0, 0, 3000, 3000],
      "children" : {
        "allowFlip_lb" : {
          "type" : "label",
          "position" : [166, 185],
          "value" : "^#761b1b;allowFlip  true",
          "mouseTransparent" : true
        },

        "weapon_angle_value_lb" : {
          "type" : "label",
          "position" : [166, 175],
          "value" : "^darkgray;weaponRotation",
          "mouseTransparent" : true
        },
    
        "weapon_angle_value" : {
          "type" : "textbox",
          "position" : [237, 175],
          "textAlign" : "left",
          "maxWidth" : 60,
          "regex" : "x?\\W{0,4}\\d{0,4}.{0,4}",
          "enterKey" : "confirm_box",
          "hint" : "0"
        },
        
        "f_arm_angle_value_lb" : {
          "type" : "label",
          "position" : [166, 165],
          "value" : "^darkgray;armRotation",
          "mouseTransparent" : true
        },

        "f_arm_angle_value" : {
          "type" : "textbox",
          "position" : [220, 165],
          "textAlign" : "left",
          "maxWidth" : 60,
          "regex" : "x?\\W{0,4}\\d{0,4}.{0,4}",
          "enterKey" : "confirm_box",
          "hint" : "0 "
        },
        
        "armAngularVelocity_lb" : {
          "type" : "label",
          "position" : [166, 155],
          "value" : "^#761b1b;armAngularVelocity : 0",
          "mouseTransparent" : true
        },

        "weapon_position_value_y_lb" : {
          "type" : "label",
          "position" : [166, 145],
          "value" : "^darkgray;weaponOffset    [             ,             ]",
          "mouseTransparent" : true
        },
        "weapon_position_value_y" : {
          "type" : "textbox",
          "position" : [237, 145],
          "textAlign" : "left",
          "maxWidth" : 25,
          "regex" : "x?\\W{0,4}\\d{0,4}.{0,4}",
          "enterKey" : "confirm_box",
          "hint" : "0"
        },
        "weapon_position_value_x" : {
          "type" : "textbox",
          "position" : [272, 145],
          "textAlign" : "left",
          "maxWidth" : 25,
          "regex" : "x?\\W{0,4}\\d{0,4}.{0,4}",
          "enterKey" : "confirm_box",
          "hint" : "0"
        },

        "burstParticleEmitters_lb" : {
          "type" : "label",
          "position" : [166, 135],
          "value" : "^#761b1b;burstParticleEmitters  [\"<particle>\"]",
          "mouseTransparent" : true
        },

        "animationStates_lb" : {
          "type" : "label",
          "position" : [166, 125],
          "value" : "^#761b1b;animationStates  [\"<state>\" = \"<default>\"]",
          "mouseTransparent" : true
        },

        "weaponAngularVelocity_lb" : {
          "type" : "label",
          "position" : [166, 115],
          "value" : "^#761b1b;weaponAngularVelocity 0",
          "mouseTransparent" : true
        },

        "image_position_value_y_lb" : {
          "type" : "label",
          "position" : [166, 105],
          "value" : "^darkgray;frontArmFrame",
          "mouseTransparent" : true
        },
        "image_position_value_y" : {
          "type" : "textbox",
          "position" : [237, 105],
          "textAlign" : "left",
          "maxWidth" : 60,
          "enterKey" : "confirm_box",
          "hint" : "rotation"
        },

        "twoHanded_lb" : {
          "type" : "label",
          "position" : [166, 95],
          "value" : "^darkgray;twoHanded",
          "mouseTransparent" : true
        },

        "twohanded_button" : {
          "type" : "button",
          "base" : "/interface/button.png",
          "hover" : "/interface/buttonhover.png",
          "checkable" : true,
          "baseImageChecked" : "/interface/buttonactive.png",
          "hoverImageChecked" : "/interface/buttonactivehover.png",
          "pressedOffset" : [0, 0],
          "position" : [215, 92],
          "caption" : "False",
          "callback" : "twohanded"
        },

        "weaponRotationCenter_lb" : {
          "type" : "label",
          "position" : [166, 85],
          "value" : "^#761b1b;weaponRotationCenter [0, 0]",
          "mouseTransparent" : true
        },
    
        "image_position_value_x_lb" : {
          "type" : "label",
          "position" : [166, 75],
          "value" : "^darkgray;backArmFrame",
          "mouseTransparent" : true
        },
        "image_position_value_x" : {
          "type" : "textbox",
          "position" : [237, 75],
          "textAlign" : "left",
          "maxWidth" : 60,
          "enterKey" : "confirm_box",
          "hint" : "rotation"
        },

        "playSounds_lb" : {
          "type" : "label",
          "position" : [166, 65],
          "value" : "^#761b1b;playSounds [\"<sound>\"]",
          "mouseTransparent" : true
        },
    
    
        "weapon_path" : {
          "type" : "textbox",
          "position" : [166, 20],
          "textAlign" : "left",
          "maxWidth" : 200,
          "enterKey" : "confirm_box",
          "hint" : "Weapon Image Path"
        }
    
      }
    },

    "tab_hitbox" : {
      "type" : "layout",
      "layoutType" : "basic",
      "visible" : false,

      "rect" : [0, 0, 3000, 3000],
      "children" : {
        "hitbox_list" : {
          "type" : "scrollArea",
          "position" : [166, 20],
          "size" : [100, 100],
          "children" : {
            "list" : {
              "columns": 1,
              "type" : "list",
              "callback" : "hitbox_select",
              "schema" : {
                "selectedBG" : "/interface/button.png",
                "unselectedBG" : "/interface/button.png?brightness=-50",
                "spacing" : [0, 1],
                "memberSize" : [60, 14],
                "listTemplate" : {
                  "background" : {
                    "type" : "image",
                    "file" : "/interface/button.png?brightness=-50",
                    "position" : [1, 1],
                    "zlevel" : -1
                  },
                  "itemName" : {
                    "type" : "label",
                    "position" : [28, 12],
                    "hAnchor" : "mid",
                    "vAnchor" : "top",
                    "wrapWidth" : 130,
                    "lineSpacing" : 1.05,
                    "value" : "[Replace Me, Replace Me]"
                  }
                }
              }
            }
          }
        },
    
        "slash_path" : {
          "type" : "textbox",
          "position" : [166, 185],
          "textAlign" : "left",
          "maxWidth" : 200,
          "enterKey" : "confirm_box",
          "hint" : "Slash Image Path"
        },

        "hitbox_Lb" : {
          "type" : "label",
          "position" : [166, 175],
          "value" : "^darkgray;-- Selected Hitbox Value --",
          "mouseTransparent" : true
        },

        "hitbox_backLb" : {
          "type" : "label",
          "position" : [166, 165],
          "value" : "[         ,         ]",
          "mouseTransparent" : true
        },

        "hitbox_value_1" : {
          "type" : "textbox",
          "position" : [170, 165],
          "textAlign" : "left",
          "maxWidth" : 60,
          "regex" : "x?\\W{0,4}\\d{0,4}.{0,4}",
          "enterKey" : "confirm_box",
          "hint" : "0 "
        },

        "hitbox_value_2" : {
          "type" : "textbox",
          "position" : [195, 165],
          "textAlign" : "left",
          "maxWidth" : 60,
          "regex" : "x?\\W{0,4}\\d{0,4}.{0,4}",
          "enterKey" : "confirm_box",
          "hint" : "0 "
        },

        "hb_add" : {
          "type" : "button",
          "base" : "/interface/button.png",
          "hover" : "/interface/buttonhover.png",
          "pressedOffset" : [0, 0],
          "position" : [327, 65],
          "caption" : "Add",
          "callback" : "hb_add"
        },

        "hb_save" : {
          "type" : "button",
          "base" : "/interface/button.png",
          "hover" : "/interface/buttonhover.png",
          "pressedOffset" : [0, 0],
          "position" : [327, 50],
          "caption" : "Save",
          "callback" : "hb_save"
        },

        "hb_remove" : {
          "type" : "button",
          "base" : "/interface/button.png",
          "hover" : "/interface/buttonhover.png",
          "pressedOffset" : [0, 0],
          "position" : [327, 35],
          "caption" : "Remove",
          "callback" : "hb_remove"
        },

        "hb_clear" : {
          "type" : "button",
          "base" : "/interface/button.png",
          "hover" : "/interface/buttonhover.png",
          "pressedOffset" : [0, 0],
          "position" : [327, 20],
          "caption" : "Clear",
          "callback" : "hb_clear"
        },
        
        "hitbox_position_value_y" : {
          "type" : "textbox",
          "position" : [270, 30],
          "textAlign" : "left",
          "maxWidth" : 40,
          "regex" : "x?\\W{0,4}\\d{0,4}.{0,4}",
          "enterKey" : "confirm_box",
          "hint" : "hitbox: X"
        },
    
        "hitbox_position_value_x" : {
          "type" : "textbox",
          "position" : [270, 20],
          "textAlign" : "left",
          "maxWidth" : 40,
          "regex" : "x?\\W{0,4}\\d{0,4}.{0,4}",
          "enterKey" : "confirm_box",
          "hint" : "hitbox: Y"
        }
      }
    },

    "title" : {
      "type" : "label",
      "position" : [3, 205],
      "value" : "^shadow;Stance Maker",
      "mouseTransparent" : true
    },

    "subtitle" : {
      "type" : "label",
      "position" : [70, 202],
      "value" : "^shadow,gray;Dynamic Stance View",
      "mouseTransparent" : true
    },

    "Dummy" : {
      "type" : "canvas",
      "zlevel" : 1,
      "rect" : [1,23,161,167],
      "captureMouseEvents" : false,
      "captureKeyEvents" : false,
      "mouseTransparent" : true
    },

    "print" : {
      "type" : "button",
      "base" : "/interface/button.png",
      "hover" : "/interface/buttonhover.png",
      "pressedOffset" : [0, 0],
      "position" : [2, 182],
      "caption" : "Print",
      "callback" : "print"
    },

    "hitbox_button" : {
      "type" : "button",
      "base" : "/interface/button.png",
      "hover" : "/interface/buttonhover.png",
      "pressedOffset" : [0, 0],
      "position" : [327, 200],
      "caption" : "Hitbox",
      "callback" : "hitbox_button"
    },

    "dummy_offset_value_1" : {
      "type" : "textbox",
      "position" : [2, 20],
      "textAlign" : "left",
      "maxWidth" : 80,
      "regex" : "x?\\W{0,4}\\d{0,4}.{0,4}",
      "enterKey" : "confirm_box",
      "hint" : "Dummy Offset : X"
    },

    "dummy_offset_value_2" : {
      "type" : "textbox",
      "position" : [84, 20],
      "textAlign" : "left",
      "maxWidth" : 80,
      "regex" : "x?\\W{0,4}\\d{0,4}.{0,4}",
      "enterKey" : "confirm_box",
      "hint" : "Dummy Offset : Y"
    },

    "clear_slash" : {
      "type" : "button",
      "base" : "/interface/button.png",
      "hover" : "/interface/buttonhover.png",
      "pressedOffset" : [0, 0],
      "position" : [2, 2],
      "caption" : "Clr Slash Im"
    },

    "clear_weapon" : {
      "type" : "button",
      "base" : "/interface/button.png",
      "hover" : "/interface/buttonhover.png",
      "pressedOffset" : [0, 0],
      "position" : [57, 2],
      "caption" : "Clr Weap Im"
    }


  },
  "humanoid_config" : {
    "dummy_position" : [81,61.5],
    "backArmOffset" : [3, 0],
    "frontHandPosition" : [8, -3]
  },
  
  "scripts" : [ "/d8spmcce/scripts/interface/stance_maker/stance_maker_gui.lua" ],
  "scriptDelta" : 5,
  "scriptWidgetCallbacks" : [
    "print",
    "twohanded",
    "debug",

    "activeItem_Slot",
    "canvas_mouse",
    "canvas_key",
    "f_arm_angle_value",
    "weapon_angle_value",
    "weapon_position_value_x",
    "weapon_position_value_y",
    "hitbox_position_value_x",
    "hitbox_position_value_y",
    "image_position_value_x",
    "image_position_value_y",
    "weapon_path",
    "slash_path",
    "confirm_box",
    
    "hitbox_button",
    "hitbox_value_1",
    "hitbox_value_2",
    "hitbox_select",
    "hb_add",
    "hb_save",
    "hb_remove",
    "hb_clear",

    "dummy_offset_value_1",
    "dummy_offset_value_2",

    "clear_slash",
    "clear_weapon",
    "null"
  ]
}