{
  "gui" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "/d8spmcce/texture/interface/stance_maker/haut.png",
      "fileBody" : "/d8spmcce/texture/interface/stance_maker/milieu.png", 
      "fileFooter" : "/d8spmcce/texture/interface/stance_maker/bas.png"
    },

    "close" : {
      "type" : "button",
      "base" : "/assetmissing.png",
      "hover" : "/assetmissing.png",
      "pressed" : "/assetmissing.png",
      "pressedOffset" : [0, 0],
      "position" : [1000, 1000]
    },

    "windowtitle" : {
      "type" : "title",
      "title" :    " ",
      "subtitle" : " ",
      "position" : [10, -20],
      "icon" : {
        "type" : "image",
        "file" : "/assetmissing.png",
        "position" : [0, 0],
        "zlevel" : -1
      }
    },

    "title" : {
      "type" : "label",
      "position" : [3, 205],
      "value" : "^shadow;Stance Maker",
      "mouseTransparent" : true
    },

    "subtitle" : {
      "type" : "label",
      "position" : [70, 202],
      "value" : "^shadow,gray;Dynamic Stance View",
      "mouseTransparent" : true
    },

    "Dummy" : {
      "type" : "canvas",
      "zlevel" : 1,
      "rect" : [1,23,161,167],
      "captureMouseEvents" : false,
      "captureKeyEvents" : false,
      "mouseTransparent" : true
    }
    
  },
  "humanoid_config" : {
    "dummy_position" : [81,61.5],
    "backArmOffset" : [3, 0],
    "frontHandPosition" : [8, -3]
  },
  
  "scripts" : [ "/d8spmcce/scripts/interface/stance_maker/stance_maker_gui.lua" ],
  "scriptDelta" : 5,
  "scriptWidgetCallbacks" : [
    "print",
    "twohanded",
    "debug",
    "itemSlot",

    "activeItem_Slot",
    "canvas_mouse",
    "canvas_key",
    "f_arm_angle_value",
    "weapon_angle_value",
    "weapon_position_value_x",
    "weapon_position_value_y",
    "hitbox_position_value_x",
    "hitbox_position_value_y",
    "image_position_value_x",
    "image_position_value_y",
    "weapon_path",
    "slash_path",
    "confirm_box",
    
    "hitbox_button",
    "hitbox_value_1",
    "hitbox_value_2",
    "hitbox_select",
    "hb_add",
    "hb_save",
    "hb_remove",
    "hb_clear",

    "dummy_offset_value_1",
    "dummy_offset_value_2",

    "clear_slash",
    "clear_weapon",
    "null"
  ]
}